<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abcxo.tomato" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>大吉</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="xwalkVersion" value="xwalk_core_library_beta:18+" />
        <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
        <preference name="xwalkMode" value="embedded" />
        <preference name="xwalkMultipleApk" value="true" />
        <icon src="resources/icon.png" density="xxxhdpi"/>
        <splash src="resources/android-splash.png" density="xxxhdpi"/>
    </platform>
    <platform name="ios">
        <content src="http://localhost:0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="resources/icon.png" />
        <splash height="960" src="resources/ios-splash-0.png" width="640" />
        <splash height="1136" src="resources/ios-splash-1.png" width="640" />
        <splash height="1334" src="resources/ios-splash-2.png" width="750" />
        <splash height="2208" src="resources/ios-splash-3.png" width="1242" />
        <splash height="2048" src="resources/ios-splash-4.png" width="1536" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="xwalkVersion" value="xwalk_core_library_beta:18+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <preference name="AlternateContentSrc" value="undefined" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
</widget>
